#timetable_auth {
	background:#eee;
}
.nested-list-leaf {
	background:#eee;
}
p {
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.x-toolbar.x-docked-top {
	border-bottom: .1em solid black;
}

.x-tabbar.x-docked-bottom {
	border-top: .1em solid black;
}

.x-leaflet {
	background: #dddddd url(../images/loading.gif) no-repeat center;
	width: 100%;
	height: 100%;
}

.x-tab img.map, .x-button img.x-icon-mask.map {
	-webkit-mask-image: url('../images/map-icon.png');
}

.x-tab img.building, .x-button img.x-icon-mask.building {
	-webkit-mask-image: url('../images/building-icon.png');
}

.x-tab img.canterbury, .x-button img.x-icon-mask.canterbury {
	-webkit-mask-image: url('../images/canterbury-icon.png');
}

.x-tab img.medway, .x-button img.x-icon-mask.medway {
	-webkit-mask-image: url('../images/medway-icon.png');
}

.x-tab img.campus, .x-button img.x-icon-mask.campus {
	-webkit-mask-image: url('../images/campus-icon.png');
}

.x-tab img.travel, .x-button img.x-icon-mask.travel {
	-webkit-mask-image: url('../images/travel-icon.png');
}

.x-toolbar .x-button.home ,
.x-toolbar .x-button.help {
	padding: 5px 7px;
}

.x-toolbar .x-button.home .content {
	background: white;
	height: 20px;
	width: 20px;
	-webkit-mask-image: url(../images/home-icon.png);
	-webkit-background-origin: content-box;
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
}

.x-toolbar .x-button.help .content {
	background: white;
	height: 20px;
	width: 20px;
	-webkit-mask-image: url(../images/help-icon.png);
	-webkit-background-origin: content-box;
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
	
}

.x-list-item .icon {
	background: #7f7f7f;
	-webkit-mask-image: url(../images/chevron-right.png);
	-webkit-background-origin: content-box;
	-webkit-mask-size: 10px 15px;
	height: 15px;
	width: 10px;
	float: right;
	position: absolute;
	top: 0.8em;
	right: .8em;
}

.x-list-item.external .icon {
	-webkit-mask-image: url(../images/external.png);
	-webkit-mask-size: 15px 15px;
	width: 15px;
}

.x-list-indexed .icon {

	right: 2em;
}

.x-item-pressed .icon,
.x-item-selected .icon {
	background: white;
}

.x-list .x-list-item.x-item-pressed {
	border-top-color: #abd3f9;
}

.x-list .pcroom-list-item {
	padding: 15px 14px 12px;
	
}


.x-list .x-list-item .arrow {
	background: #b1b1b1;
	height: 20px;
	width: 20px;
	float: right;
	margin-top: 4px;
	margin-left: 10px;
	-webkit-mask-image: url('../images/list-item-arrow.png');
	-webkit-mask-size: 20px 20px;
	
}

.x-list .pcroom-list-item .arrow {
	margin-top: 15px;

}

.x-list .x-list-item.x-item-selected .arrow {
	background: #fff;
	border: 1px red solid;
}

.pcroom-list-item h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #222;
	margin: 9px 0 5px;
}

.pcroom-list-item.x-item-selected h4 {
	color: #fff;
}

.pcroom-list-item h5 {
	font-size: 0.8em;
}

.pcroom-list-item .free-pcs {
	float: right;
	color: #222;
	text-align: right;
	font-size: 3em;
	margin: 0;
	margin-top: -9px;
	width: 21%;
}

.pcroom-list-item.x-item-selected .free-pcs {
	color: #fff;
}

.leaflet-popup-content-wrapper {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}

.leaflet-popup-content {
	margin: 14px;
}

.leaflet-popup-content h4 {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.leaflet-popup-content p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.home-toolbar.x-docked-top {
	background: no-repeat url(../images/home-logo.png) center 13px #072b88;
	height: 125px;
	border-bottom: none;
}

.x-list-item.external a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5em 0.8em;
	color: inherit;
	text-decoration: none;
}